<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Devs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item color="dark"
      href-inappbrowser="https://br.linkedin.com/in/caio-wendhausem-kormives-34687b17a?trk=people-guest_people_search-card">
      <ion-thumbnail slot="start">
        <img src="assets/img/eu.jpg" />
      </ion-thumbnail>
      <ion-button slot="end">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-title>
        Caio W. Kormives
      </ion-title>
    </ion-item>
    <ion-item color="none" href-inappbrowser="https://www.linkedin.com/in/leonardo-oliveira-524a22210/">
      <ion-thumbnail item-left>
        <img src="assets/img/leo.jpeg" />
      </ion-thumbnail>
      <ion-button slot="end">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-title>
        Leonardo de Oliveira
      </ion-title>
    </ion-item>
    <ion-item color="none">
      <ion-thumbnail item-left>
        <img src="assets/img/BeBatista.jpeg" />
      </ion-thumbnail>
      <ion-button slot="end">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-title>
        Bernardo Batista
      </ion-title>
    </ion-item>
    <ion-item color="none" href-inappbrowser="https://www.linkedin.com/mwlite/in/jo%C3%A3o-anacleto-4799b6210">
      <ion-thumbnail item-left>
        <img src="assets/img/joao.jpeg" />
      </ion-thumbnail>
      <ion-button slot="end">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-title>
        João Vitor Anacleto
      </ion-title>
    </ion-item>
  </ion-list>
  <ion-item color="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/Lucas.jpg" />
    </ion-thumbnail>
    <ion-button slot="end">
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-button>
    <ion-title>
      Lucas
    </ion-title>
  </ion-item>

  <ion-item color="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/BeTavares.jpg" />
    </ion-thumbnail>
    <ion-button slot="end">
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-button>
    <ion-title>
      Bernardo Tavares
    </ion-title>
  </ion-item>

</ion-content>
