<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>adicionar bichinhos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <ion-item >
      <ion-label>
        Animal
      </ion-label>
      <ion-select>

        <ion-select-option>
          Cachorro🐶
        </ion-select-option>
        <ion-select-option>
          Ave🐤
        </ion-select-option>
        <ion-select-option>
          Gato🐱
        </ion-select-option>
        <ion-select-option>
          Peixe🐟
        </ion-select-option>
        <ion-select-option>
          Tartaruga🐢
        </ion-select-option>
        <ion-select-option>
          Coelho🐰
        </ion-select-option>
        <ion-select-option>
          Hamster🐹
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label>
        Temperamento
      </ion-label>
      <ion-select name="">
        <ion-select-option>
          Agitado
        </ion-select-option>
        <ion-select-option>
          Bravo
        </ion-select-option>
        <ion-select-option>
          Calmo
        </ion-select-option>
        <ion-select-option>
          Manso
        </ion-select-option>
        <ion-select-option>
          Tranquilo
        </ion-select-option>
      </ion-select>
    </ion-item>
    <form >
      <ion-item >
        <ion-label>
          Tempo de vida
        </ion-label>
        <ion-select name="">
          <ion-select-option>
            >14> 10
          </ion-select-option>
          <ion-select-option>
            >10> 8
          </ion-select-option>
          <ion-select-option>
            >8> 4
          </ion-select-option>
          <ion-select-option>
            >4> 2
          </ion-select-option>
          <ion-select-option>
            >2> 1
          </ion-select-option>
          <ion-select-option>
            Meses
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item >
        <ion-label>
          Recebeu alguma vacina?
        </ion-label>
        <ion-select name="">
          <ion-select-option>
            Sim
          </ion-select-option>
          <ion-select-option>
            Nao
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item >
        <ion-label>
          Descrição
        </ion-label>
        <ion-input type="text" placeholder="Faça uma breve descrição"></ion-input>
      </ion-item>
      <ion-item id="adicionarBichinho-input4">
        <ion-label floating></ion-label>
        <ion-input type="text" placeholder="Insira quais vacinas foram tomadas"></ion-input>
      </ion-item>
    </form>
    <ion-item id="adicionarBichinho-input1">
      <ion-label stacked>
        Número
      </ion-label>
      <ion-input type="number" placeholder="telefone para contato"></ion-input>
    </ion-item>
    <ion-item id="adicionarBichinho-input2">
      <ion-label>
        Nome
      </ion-label>
      <ion-input type="text" placeholder="Insira seu nome"></ion-input>
    </ion-item>
    <ion-button id="adicionarBichinho-button1" ion-button color="secondary">
      Adicionar
    </ion-button>
  </form>
</ion-content>
