<ion-header color="primary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bichinhos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="sucess">
  




    <ion-header>
      
      
      <ion-title color="dark">Animal: &nbsp; idade: </ion-title>
    </ion-header>
    <! slider– –> 
    <ion-img src="../assets/cachorro.jpg"></ion-img>
    <h1></h1>
    <ion-card-content>
      Vacinas:
    </ion-card-content>
    <ion-card-content>
      Temperamento:
    </ion-card-content>
    <ion-card-content>
      Tempo de vida:
    </ion-card-content>
    <ion-card-content>
      Temperamento:
    </ion-card-content><ion-item>
      <ion-button slot="end" color="dark">
        <ion-icon src="/assets/icon/heart-sharp.svg"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-button color="secondary" expand="block" (click)="reload()" size="full">Ver outro bichinho 😥</ion-button>

  <ion-button color="secondary" expand="block" (click)="showPageAdc()" size="full">adicionar bichinho</ion-button>

</ion-content>
